<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OwnerGPT Admin</title>

    <!-- 3rd party style sheets -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/lib/polipop/polipop.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/polipop/polipop.theme.min.css" asp-append-version="true" />

    <!-- style sheets -->
    <!-- TODO: Siwtch back to ~/dist/site.css on deployment -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- TODO: Siwtch back to ~/dist/site.css on deployment -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

</head>
<body class="bg-indigo-600">

    <div class="h-[100%] w-[100%] absolute overflow-hidden">
        @await Html.PartialAsync("_DynamicBackground")
    </div>

    <div class="wrapper-container">
        <header>
            <div class="fixed flex flex-col top-0 left-0 px-1 bg-white h-full border-r">
                <div class="flex flex-col items-center w-16 h-full overflow-hidden text-gray-700 rounded">
                    <a class="flex items-center text-indigo-600 justify-center mt-3" href="#">
                        <svg class="w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
                        </svg>
                    </a>
                    <div class="flex flex-col items-center mt-3 border-t border-gray-300">
                        <a class="flex items-center justify-center w-12 h-12 mt-2 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("Index", "Home")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("Index", "Home")">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                        </a>
                        <a class="flex items-center justify-center w-12 h-12 mt-2 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("Index", "Agents")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("Index", "Agents")">
                            <svg class="w-6 h-6 stroke-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.333 6.764a3 3 0 1 1 3.141-5.023M2.5 16H1v-2a4 4 0 0 1 4-4m7.379-8.121a3 3 0 1 1 2.976 5M15 10a4 4 0 0 1 4 4v2h-1.761M13 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-4 6h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z" />
                            </svg>
                        </a>
                        <a class="flex items-center justify-center w-12 h-12 mt-2 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("KnowledgeBase", "Home")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("KnowledgeBase", "Home")" style="display: none">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                            </svg>
                        </a>
                    </div>
                    <div class="flex flex-col items-center justify-between mt-2 h-full border-t border-gray-300 pb-3">
                        <a class="flex items-center justify-center w-12 h-12 mt-2 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("Manager", "Account")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("Manager", "Account")">
                            <svg class="w-6 h-6 stroke-current" aria-hidden="true" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 8C5.80777 8 5.13108 7.79473 4.55551 7.41015C3.97993 7.02556 3.53133 6.47893 3.26642 5.83939C3.00152 5.19985 2.9322 4.49612 3.06725 3.81719C3.2023 3.13825 3.53564 2.51461 4.02513 2.02513C4.51461 1.53564 5.13825 1.2023 5.81719 1.06725C6.49612 0.932205 7.19985 1.00152 7.83939 1.26642C8.47893 1.53133 9.02556 1.97993 9.41015 2.55551C9.79473 3.13108 10 3.80777 10 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.5 17H1V15C1 13.9391 1.42143 12.9217 2.17157 12.1716C2.92172 11.4214 3.93913 11 5 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M19.5 11H18.38C18.2672 10.5081 18.0714 10.0391 17.801 9.613L18.601 8.818C18.6947 8.72424 18.7474 8.59708 18.7474 8.4645C18.7474 8.33192 18.6947 8.20476 18.601 8.111L17.894 7.404C17.8002 7.31026 17.6731 7.25761 17.5405 7.25761C17.4079 7.25761 17.2808 7.31026 17.187 7.404L16.392 8.204C15.9647 7.93136 15.4939 7.73384 15 7.62V6.5C15 6.36739 14.9473 6.24021 14.8536 6.14645C14.7598 6.05268 14.6326 6 14.5 6H13.5C13.3674 6 13.2402 6.05268 13.1464 6.14645C13.0527 6.24021 13 6.36739 13 6.5V7.62C12.5081 7.73283 12.0391 7.92863 11.613 8.199L10.818 7.404C10.7242 7.31026 10.5971 7.25761 10.4645 7.25761C10.3319 7.25761 10.2048 7.31026 10.111 7.404L9.404 8.111C9.31026 8.20476 9.25761 8.33192 9.25761 8.4645C9.25761 8.59708 9.31026 8.72424 9.404 8.818L10.204 9.618C9.9324 10.0422 9.73492 10.5096 9.62 11H8.5C8.36739 11 8.24021 11.0527 8.14645 11.1464C8.05268 11.2402 8 11.3674 8 11.5V12.5C8 12.6326 8.05268 12.7598 8.14645 12.8536C8.24021 12.9473 8.36739 13 8.5 13H9.62C9.73283 13.4919 9.92863 13.9609 10.199 14.387L9.404 15.182C9.31026 15.2758 9.25761 15.4029 9.25761 15.5355C9.25761 15.6681 9.31026 15.7952 9.404 15.889L10.111 16.596C10.2048 16.6897 10.3319 16.7424 10.4645 16.7424C10.5971 16.7424 10.7242 16.6897 10.818 16.596L11.618 15.796C12.0422 16.0676 12.5096 16.2651 13 16.38V17.5C13 17.6326 13.0527 17.7598 13.1464 17.8536C13.2402 17.9473 13.3674 18 13.5 18H14.5C14.6326 18 14.7598 17.9473 14.8536 17.8536C14.9473 17.7598 15 17.6326 15 17.5V16.38C15.4919 16.2672 15.9609 16.0714 16.387 15.801L17.182 16.601C17.2758 16.6947 17.4029 16.7474 17.5355 16.7474C17.6681 16.7474 17.7952 16.6947 17.889 16.601L18.596 15.894C18.6897 15.8002 18.7424 15.6731 18.7424 15.5405C18.7424 15.4079 18.6897 15.2808 18.596 15.187L17.796 14.392C18.0686 13.9647 18.2662 13.4939 18.38 13H19.5C19.6326 13 19.7598 12.9473 19.8536 12.8536C19.9473 12.7598 20 12.6326 20 12.5V11.5C20 11.3674 19.9473 11.2402 19.8536 11.1464C19.7598 11.0527 19.6326 11 19.5 11ZM14 14.5C13.5055 14.5 13.0222 14.3534 12.6111 14.0787C12.2 13.804 11.8795 13.4135 11.6903 12.9567C11.5011 12.4999 11.4516 11.9972 11.548 11.5123C11.6445 11.0273 11.8826 10.5819 12.2322 10.2322C12.5819 9.8826 13.0273 9.6445 13.5123 9.54804C13.9972 9.45157 14.4999 9.50108 14.9567 9.6903C15.4135 9.87952 15.804 10.2 16.0787 10.6111C16.3534 11.0222 16.5 11.5055 16.5 12C16.5 12.663 16.2366 13.2989 15.7678 13.7678C15.2989 14.2366 14.663 14.5 14 14.5Z" fill="currentColor" />
                            </svg>
                        </a>

                    </div>
                    <div class="mb-3">
                        <a class="flex items-center justify-center w-12 h-12 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("Tutorial", "Home")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("Tutorial", "Home")">
                            <svg class="w-6 h-6 stroke-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9h2v5m-2 0h4M9.408 5.5h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </a>
                        <a class="flex items-center justify-center w-12 h-12 mt-3 rounded @(ViewContext.HttpContext.Request.Path.ToString().Equals(Url.Action("Manager", "Account")) ? "bg-gray-100" : "hover:bg-gray-100")" href="@Url.Action("Manager", "Account")">
                            <svg class="w-6 h-6 stroke-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 15">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3" />
                            </svg>
                        </a>
                        <div class="flex items-center cursor-pointer justify-center w-12 h-8 mt-2 rounded hover:bg-gray-100" href="@Url.Action("Manager", "Account")">
                            <p class="mt-1 font-extralight text-center">
                                v@(ConfigurationUtil.GetValue<string>("VERSION"))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="relative m-[2rem] ml-[105px]" role="main">
            @RenderBody()
        </main>

        <footer></footer>
    </div>

    <!-- 3rd party libraries -->
    <script src="~/lib/polipop/polipop.min.js" asp-append-version="true"></script>
    <!-- TODO: Siwtch back to on prime on deployment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

    <!-- scripts -->
    <script src="~/js/globals.js" asp-append-version="true"></script>
    <script src="~/js/utility.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/partial_view_loader.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>
    <script src="~/js/exceptions.js" asp-append-version="true"></script>
    <script src="~/js/fetch.js" asp-append-version="true"></script>
    <script src="~/js/binding.js" asp-append-version="true"></script>

    <script>
        globalProperties.set("baseurl", "@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}")");
        globalProperties.set("version", "@(ConfigurationUtil.GetValue<string>("VERSION"))");
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
